.mapHome {
  width: 100%;
  height: 505px;
}
#mapSearch{
  width: 100%;
}
/*button{*/
/*width: 20%;*/
/*}*/
.btnHomeMap button{
  border-radius: 3px;
  border: 1px solid #fff;
  background: #03529082;
  cursor: pointer;
  font-weight: 700;
  font-weight: 900;
  height: 40px;
  margin-bottom: 8px;
  color: #ffffff;
  font-size: 14px;
  width: 16%;
  outline: none;

  background: #ECF7EA;
  color: #5A626D;
  border: 1px solid darkgray;

  font-family: "Montserrat-Light";
}
.btnHomeMap input{
  width: 100%;
  padding: 8px 5px;
  color: #245173;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  font-family: "Montserrat-Light";
  padding-left: 12px;
  margin-bottom: 12px;
}
.btnMarkerActiveClass{
  background-color: #C0ECAE!important;
}
.btnHomeMap button:hover{
  background: #C0ECAE;
}
.mapBtnFlex{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1240px) {
  .btnHomeMap button{
    font-size: 13px;
  }
}
@media (max-width: 1180px) {
  .btnHomeMap button{
    font-size: 10px;
  }
}
@media (max-width: 992px) {
  .btnHomeMap button{
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .btnHomeMap button{
    width:100%;
  }
  .mapBtnFlex{
    flex-direction: column;
  }
}

