<div class="btnHomeMap">
  <button (click)="getMarkers('Բնակարան')" >{{'Բնակարան' | translate:user}}</button>
  <button (click)="getMarkers('Առանձնատուն')" >{{'Առանձնատուն' | translate:user}}</button>
  <button (click)="getMarkers('Կոմերցիոն')" >{{'Կոմերցիոն' | translate:user}}</button>
  <button (click)="getMarkers('Հողամաս')">{{'Հողամաս' | translate:user}}</button>
  <button (click)="getMarkers('Բիզնես')" >{{'Բիզնես' | translate:user}}</button>
  <input type="text" id="mapSearch" size="50" placeholder="{{'Մուտքագրեք հասցեն' | translate:user}}">
  <div id="map" class="mapHome"></div>
</div>
