/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}


.ui-galleria .ui-galleria-filmstrip{
  z-index: 0!important;
}
.houseFlorStyle .ui-spinner-input{
  width: 100%!important;
}
/* You can add global styles to this file, and also import other style files */
