/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}


.ui-galleria .ui-galleria-filmstrip{
  z-index: 0!important;
}
.houseFlorStyle .ui-spinner-input{
  width: 100%!important;
}
/* You can add global styles to this file, and also import other style files */

.searchSectionNone .ui-multiselect-panel .ui-multiselect-header{
  display: none!important;
  opacity: 0;
}

.ui-galleria .ui-galleria-filmstrip-wrapper {
  margin-top: 210px!important;
}
.ng-dirty.ng-invalid > .ui-dropdown{
  border: 1px solid #a6a6a6!important;
}
.popup__overlay {
  display: none;
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  text-align: center;
  z-index: 5005
}
.popup__overlay:after {
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
  content: ''
}
.popup {
  display: inline-block;
  position: relative;
  max-width: 80%;
  padding: 20px;
  border-radius: 15px;
  border:3px solid #2F4B61;
  background: #fff;
  vertical-align: middle;
  background: #2F4B61 none repeat scroll 0 0;
  height: 136px;
}
input[type="button"] {
  padding: 6px 16px;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  background: #ff6600;
  color: #fff
}

.popup__close {
  display: block;
  position: absolute;
  top: -18px;
  right: 10px;
  width: 16px;
  height: 16px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  background: #088789;
  text-align: center;
  font-size: 20px;
  line-height: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  box-sizing: content-box !important;
}
.popup__close:hover {
  background: #f66;
}
.popup p {
  color: #fff;
  font-family: "Arial",sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-top: 26px;
  text-align: center;
  text-transform: uppercase;
}

.ui-panel-images{
  max-height: 496px;
}

/*.slick-slider {*/
/*  width: 90%;*/
/*  margin: auto;*/
/*  max-width: 1070px;*/
/*}*/
.nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 100px !important;
}

.prev-slide.slick-disabled,
.next-slide.slick-disabled {
  pointer-events: none;
  opacity: 0.2;
}

.prev-slide {
  background: url(./assets/images/prev.png) no-repeat scroll 0 0;
  left: 9px;
  background-size: contain;
  background-position: center;
  z-index: 1;
}

.next-slide {
  background: url(./assets/images/next.png) no-repeat scroll -24px 0px;
  right: 9px;
  background-size: contain;
  background-position: center;
  z-index: 1;
}
.slick-dots{
  display: none!important;
}
.prev-slide:hover {
  /*background-position: 0px -53px;*/
}

.next-slide:hover {
  /*background-position: -24px -53px;*/
}

@media (max-width: 1500px) {
  .typeOfMarkerStyle .ui-multiselect-label-container {
    font-size: 12px !important;
    line-height: 2.4 !important;

  }
}
@media (max-width: 1259px) {
  .typeOfMarkerStyle .ui-multiselect-label-container {
    font-size: 11px !important;
    line-height: 2.6 !important;
  }
}

.typeOfActualUseStyle > .ui-multiselect{
  width: 30px;
  height: 39px;
}


/*hover color prime ng*/
body .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item:not(.ui-state-highlight):not(.ui-state-disabled):hover{
  background-color: #03529082!important;
}
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover, body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group:not(.ui-state-highlight):not(.ui-state-disabled):hover{
  background-color: #03529082!important;
}

.prev-slide{
  top: 76px!important;
}
.next-slide{
  top: 76px!important;
}

/*.typeOfMarkerStyleDiv .ui-chkbox .ui-chkbox-box:first-child{*/
  /*background-color: #FFCD00!important;*/
/*}*/


/*#paginator-style .ngx-pagination a, .ngx-pagination button{*/
/*  color: red!important;*/
/*}*/
