<!--<app-header></app-header>-->

<!--<router-outlet></router-outlet>-->


<!--<app-footer></app-footer>-->

<!--<button [ngClass]="{'show-scroll': showScroll}" (click)="scrollToTop()" class="scroll-to-top">-->
<!--<img src="../../assets/images/scroll-top.png" alt="" style="width: 44px; opacity: .9;">-->
<!--</button>-->
<div [ngClass]="'ui-fileupload ui-widget'" [ngStyle]="style" [class]="styleClass" *ngIf="mode === 'advanced'">
  <div class="ui-fileupload-buttonbar ui-widget-header ui-corner-top">
                <span class="ui-fileupload-choose" [label]="'Ավելացնել նկարներ' | translate:user" icon="pi pi-plus" pButton [ngClass]="{'ui-state-focus': focus, 'ui-state-disabled':disabled}">
                    <input #advancedfileinput type="file" (change)="onFileSelect($event)" [multiple]="true" [accept]="accept" [disabled]="disabled" (focus)="onFocus()" (blur)="onBlur()">
                </span>
    <button id="__jnjel" (click)="foo()" style="float: right;opacity: 0;">jnjel</button>
    <!--<p-button *ngIf="!auto&&showUploadButton" type="button" [label]="uploadLabel" icon="pi pi-upload" (click)="upload()" [disabled]="!hasFiles()"></p-button>-->
    <!--<p-button *ngIf="!auto&&showCancelButton" type="button" [label]="cancelLabel" icon="pi pi-times" (click)="clear()" [disabled]="!hasFiles() || uploading"></p-button>-->
    <ng-container *ngTemplateOutlet="toolbarTemplate"></ng-container>
  </div>
  <div #content [ngClass]="{'ui-fileupload-content ui-widget-content ui-corner-bottom':true}"
       (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
    <p-progressBar [value]="progress" [showValue]="false" *ngIf="hasFiles()"></p-progressBar>
    <p-messages [value]="msgs" [enableService]="false"></p-messages>
    <div class="ui-fileupload-files" *ngIf="hasFiles()">
      <div *ngIf="!fileTemplate" [sortablejs]="files" [sortablejsOptions]="options"  style="display: flex;flex-wrap: wrap;">
        <div class="ui-fileupload-row" *ngFor="let file of files; let i = index;">
          <div><img style="width: 110px;height: 110px;object-fit: cover" [src]="file.objectURL" *ngIf="isImage(file)" [width]="previewWidth" /></div>
<!--          <div>{{file.name}}</div>-->
<!--          <div>{{formatSize(file.size)}}</div>-->
          <div  style="position: relative!important;padding: 0">
            <button type="button" icon="pi pi-times" pButton (click)="remove($event,i)" [disabled]="uploading" style=" position: absolute;top: 9px;right: 17px;width: 24px;height: 24px"></button>
          </div>
        </div>
      </div>
      <div *ngIf="fileTemplate">
        <ng-template ngFor [ngForOf]="files" [ngForTemplate]="fileTemplate"></ng-template>
      </div>
    </div>
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </div>
</div>
<span *ngIf="mode === 'basic'" [ngClass]="{'ui-button ui-fileupload-choose ui-widget ui-state-default ui-corner-all ui-button-text-icon-left': true,
                'ui-fileupload-choose-selected': hasFiles(),'ui-state-focus': focus, 'ui-state-disabled':disabled}"
      [ngStyle]="style" [class]="styleClass" (mouseup)="onSimpleUploaderClick($event)">
            <span class="ui-button-icon-left pi" [ngClass]="{'pi-plus': !hasFiles()||auto, 'pi-upload': hasFiles()&&!auto}"></span>
            <span class="ui-button-text ui-clickable">{{auto ? chooseLabel : hasFiles() ? files[0].name : chooseLabel}}</span>
            <input #basicfileinput type="file" [accept]="accept" [multiple]="true" [disabled]="disabled"
                   (change)="onFileSelect($event)" *ngIf="!hasFiles()" (focus)="onFocus()" (blur)="onBlur()">
        </span>

