<div class="header">
  <div class="wrapper">
    <div class="navbar">
      <div class="logo">
        <a href="/"><img src="assets/images/Logo_horizontal_white.png" alt=""></a>
        <!--(click)="refresh()"-->
      </div>
      <div class="nav" [ngClass]="{'navMobile': navActive}">
        <ul>
          <li><a (click)="goToEvaluation()">{{'navbarLink1' | translate:user}}</a></li>
          <li><a href="" [routerLink]="['/about-us']">{{'navbarLink2' | translate:user}}</a></li>
          <li><a href="" [routerLink]="['/services']">{{'navbarLink3' | translate:user}}</a></li>
          <li><a href="" [routerLink]="['/partner']">{{'navbarLink4' | translate:user}}</a></li>
          <li><a href="" [routerLink]="['/news']">{{'navbarLink5' | translate:user}}</a></li>
          <li><a href="" [routerLink]="['/contact-us']">{{'navbarLink6' | translate:user}}</a></li>
        </ul>
      </div>
      <div id="nav-icon1" [ngClass]="{'open': navOpenClose}" (click)="toggleNav()" class="navbarMobile">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="icons">
        <div class="flags">
          <a (click)="switchLanguage('en')"><img src="assets/images/soc/emg_flag.png" alt=""></a>
          <a (click)="switchLanguage('ru')"><img src="assets/images/soc/rus_flag.png" alt=""></a>
          <a (click)="switchLanguage('am')"><img src="assets/images/soc/arm_flag.png" alt=""></a>
        </div>
        <div class="phone">
          <a href="#">+374 10 58 06 06</a>
          <a href="#">+374 44 58 06 06</a>
        </div>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
