<div class="filter-content filter-contentStyle" style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px">
  <form [formGroup]="form" (ngSubmit)="formSend()">
    <input type="hidden">
    <div class="col-md-3 input-style">
      <p-multiSelect [options]="optionsData.transactions" formControlName="transactions"
                     [selectedItemsLabel]="'{0} ընտրված դաշտ'" defaultLabel="{{'Գործարքի տեսակը' | translate:user}}"
                     [style]="{'width':'100%'}"></p-multiSelect>
    </div>

    <div class="col-md-3 input-style">
      <p-multiSelect [options]="optionsData.regions" formControlName="regions" [selectedItemsLabel]="'{0} ընտրված դաշտ'"
                     (onChange)="onChange('region')"
                     defaultLabel="{{'Գործարքի տեսակը' | translate:user}}" [style]="{'width':'100%'}"></p-multiSelect>
    </div>

    <div class="col-md-3 input-style">
      <p-multiSelect [options]="cities" formControlName="cities" [selectedItemsLabel]="'{0} ընտրված դաշտ'"
                     defaultLabel="{{'Մարզ' | translate:user}}" [style]="{'width':'100%'}"></p-multiSelect>
    </div>

    <div class="col-md-3 input-style">
      <p-multiSelect [options]="optionsData.communities" formControlName="communities"
                     [selectedItemsLabel]="'{0} ընտրված դաշտ'" defaultLabel="{{'Քաղաք' | translate:user}}"
                     [style]="{'width':'100%'}"></p-multiSelect>
    </div>

    <div class="col-md-3 input-style">
      <p-multiSelect [options]="optionsData.communities" formControlName="communities"
                     [selectedItemsLabel]="'{0} ընտրված դաշտ'" defaultLabel="{{'Համայնք' | translate:user}}"
                     [style]="{'width':'100%'}"></p-multiSelect>
    </div>

    <div class="col-md-3 input-style">
      <p-multiSelect [options]="optionsData.communities" formControlName="communities"
                     [selectedItemsLabel]="'{0} ընտրված դաշտ'" defaultLabel="{{'Փողոց' | translate:user}}"
                     [style]="{'width':'100%'}"></p-multiSelect>
    </div>

    <div class="col-md-3 input-style">
      <p-multiSelect [options]="optionsData.communities" formControlName="communities"
                     [selectedItemsLabel]="'{0} ընտրված դաշտ'" defaultLabel="{{'Շենքի տեսակ' | translate:user}}"
                     [style]="{'width':'100%'}"></p-multiSelect>
    </div>

    <div class="col-md-3 input-style">
      <p-dropdown [options]="cities" [style]="{'width':'100%'}" formControlName="selectedCity"
                  placeholder="{{'Սենյակների քանակը' | translate:user}}"></p-dropdown>
    </div>

    <div class="col-md-3 input-style">
      <p-dropdown [options]="cities" [style]="{'width':'100%'}" formControlName="selectedCity"
                  placeholder=" {{'Մակերես քմ' | translate:user}} "></p-dropdown>
    </div>

    <div class="col-md-3 input-style">
      <p-dropdown [options]="cities" [style]="{'width':'100%'}" formControlName="selectedCity"
                  placeholder=" {{'Գինը (սկսած)' | translate:user}} "></p-dropdown>
    </div>

    <div class="col-md-3 input-style">
      <p-dropdown [options]="cities" [style]="{'width':'100%'}" formControlName="selectedCity"
                  placeholder=" {{'Մինչև' | translate:user}} "></p-dropdown>
    </div>

    <!--<button type="submit">Value</button>-->
    <!--<button  (click)="formSend2()">Form</button>-->
  </form>
</div>

