<div class="footer">
  <div class="wrapperFooter">
    <div class="socIcons">
      <div class="footerLogo">
        <a href=""><img src="../../assets/images/Logo_vertical_black.png" alt=""></a>
      </div>
        <div>
          <p>Երևան 0011</p>
          <p>Խանջյան 13/2</p>
          <p>www.cost.am</p>
        </div>
      <div style="display: flex; flex-direction: column;align-items: baseline;">
        <a href="https://www.facebook.com" target="_blank"><img src="../../assets/images/facebookLogo.png" alt="facebook" style="max-width: 44px;">fb.com/RealtyConsultArmenia</a>
        <a href="https://www.facebook.com" target="_blank"><img src="../../assets/images/facebookLogo.png" alt="facebook" style="max-width: 44px;">fb.com/CostConsultArmenia</a>
        <a href="https://www.youtube.com" target="_blank"><img src="../../assets/images/official-youtube-logo.png" alt="youtube" style="max-width: 32px;    margin: 0 6px;">youtube.com/RealtyConsult</a>
      </div>
      <div>
        <p>+374 10 544 882</p>
        <p>+374 10 544 883</p>
        <p>+374 10 47 19 25</p>
      </div>
<!--      <div>-->
<!--        <a href="https://www.instagram.com" target="_blank"><img src="../../assets/images/instagram.png" alt="instagram"></a>-->
<!--      </div>-->
<!--      <div>-->
<!--        <a href="https://www.twitter.com" target="_blank"><img src="../../assets/images/twitter.png" alt="twitter"></a>-->
<!--      </div>-->
    </div>
<!--    <div class="footerLogo">-->
<!--      <a href=""><img src="../../assets/images/Logo_vertical_black.png" alt=""></a>-->
<!--    </div>-->
  </div>
</div>
