<div class="footer">
  <div class="wrapperFooter">
    <div class="socIcons">
      <div class="footerLogo">
        <a href=""><img src="../../assets/images/soc/logo_footer-new.png" alt=""></a>
      </div>
        <div>
          <p>Երևան 0011</p>
          <p>Բուզանդ 1</p>
          <p>www.cost.am</p>
        </div>
      <div style="display: flex; flex-direction: column;align-items: baseline;">
        <a href="https://www.facebook.com" target="_blank"><img src="../../assets/images/soc/footer_fb.png" alt="facebook" style="max-width: 40px;margin-right: 6px;">fb.com/RealtyConsultArmenia</a>
        <a href="https://www.facebook.com" target="_blank"><img src="../../assets/images/soc/footer_fb.png" alt="facebook" style="max-width: 40px;margin-right: 6px;">fb.com/CostConsultArmenia</a>
        <a href="https://www.youtube.com" target="_blank"><img src="../../assets/images/soc/footer_utube.png" alt="youtube" style="max-width: 40px;margin-right: 6px;">youtube.com/RealtyConsult</a>
      </div>
      <div>
        <p style="margin-left: 40px">+374 10 544 882</p>
        <p style="display: flex;align-items: center;"><img src="../../assets/images/soc/footer_viber.png" alt="" style="max-width: 40px;margin-right: 12px;">+374 44 58 06 06</p>
        <p style="margin-left: 40px">+374 95 17 96 97</p>
      </div>
<!--      <div>-->
<!--        <a href="https://www.instagram.com" target="_blank"><img src="../../assets/images/instagram.png" alt="instagram"></a>-->
<!--      </div>-->
<!--      <div>-->
<!--        <a href="https://www.twitter.com" target="_blank"><img src="../../assets/images/twitter.png" alt="twitter"></a>-->
<!--      </div>-->
    </div>
<!--    <div class="footerLogo">-->
<!--      <a href=""><img src="../../assets/images/Logo_vertical_black.png" alt=""></a>-->
<!--    </div>-->
  </div>
</div>
