<div class="footer">
  <div class="wrapperFooter">
    <div class="socIcons">
      <div>
        <a href="https://www.facebook.com" target="_blank"><img src="../../assets/images/facebook.png" alt="facebook"></a>
      </div>
      <div>
        <a href="https://www.youtube.com" target="_blank"><img src="../../assets/images/youtube.png" alt="youtube"></a>
      </div>
      <div>
        <a href="https://www.instagram.com" target="_blank"><img src="../../assets/images/instagram.png" alt="instagram"></a>
      </div>
      <div>
        <a href="https://www.twitter.com" target="_blank"><img src="../../assets/images/twitter.png" alt="twitter"></a>
      </div>
    </div>
    <div class="footerLogo">
      <a href=""><img src="../../assets/images/logoSmall.png" alt=""></a>
    </div>
  </div>
</div>
