<form [formGroup]="form" (ngSubmit)="send('')">
  <div class="flewWrap">

    <div class="addAnnouncement-input">
      <p-spinner class="ui-fluid" size="1" [min]="0" [step]="1"
                 placeholder="* {{'Կոդ' | translate:user}}"
                 [inputStyle]="{'width':'100%'}"
                 formControlName="codeValue"
                 (onChange)="send('codeValue')">

      </p-spinner>
    </div>

    <div class="addAnnouncement-input topCheckStyle">
      <p-checkbox label="{{'Լավագույն առաջարկ' | translate:user}}" formControlName="top" binary="true" (onChange)="send('top')"></p-checkbox>
    </div>

    <div class="addAnnouncement-input">
      <p-multiSelect [options]="optionsData.transactionsCommercial" formControlName="transactions"
                     [maxSelectedLabels]="1"
                     (onChange)="send('transactions')"
                     [filter]="false"
                     [selectedItemsLabel]="'{0} ընտրված դաշտ'" defaultLabel="* {{'Գործարքի տեսակը' | translate:user}}"
                     [style]="{'width':'100%'}"></p-multiSelect>
    </div>

    <div class="addAnnouncement-input">
      <p-dropdown [options]="optionsData.regions" [style]="{'width':'100%'}" formControlName="regions"
                  (onChange)="send('regions')"
                  [filter]="true"
                  placeholder="* {{'Մարզ' | translate:user}} "></p-dropdown>
    </div>

    <div class="addAnnouncement-input">
      <p-dropdown [options]="cities" [style]="{'width':'100%'}" formControlName="cities"
                  (onChange)="send('cities')"
                  [filter]="true"
                  placeholder="* {{'Քաղաք' | translate:user}} "></p-dropdown>
    </div>

    <div class="addAnnouncement-input">
      <p-dropdown [options]="communities" [style]="{'width':'100%'}" formControlName="communities"
                  (onChange)="send('communities')"
                  [filter]="true"
                  placeholder="* {{'Համայնք' | translate:user}} "></p-dropdown>
    </div>

    <div class="addAnnouncement-input">
      <p-dropdown [options]="streets" [style]="{'width':'100%'}" formControlName="streets"
                  (onChange)="send('streets')"
                  [filter]="true"
                  placeholder="* {{'Փողոց' | translate:user}}"></p-dropdown>
    </div>


    <div class="addAnnouncement-input flexBoxItem">
      <!--        [style]="{'width':'40%'}"-->
      <p-spinner size="1" [min]="0" [max]="100" [step]="1"
                 placeholder="* {{'Հարկայնություն' | translate:user}} "
                 id="basic1"
                 formControlName="flooring"
                 [inputStyle]="{'width':'100%'}"
                 (onChange)="send('flooring')">
      </p-spinner>
      <p-spinner size="1" [min]="-10" [max]="form.get('flooring').value" [step]="1"
                 placeholder="* {{'Հարկ' | translate:user}} "
                 id="basic2"
                 formControlName="floor"
                 [inputStyle]="{'width':'100%'}"
                 (onChange)="send('floor')">
      </p-spinner>
    </div>


    <div class="addAnnouncement-input">
      <p-spinner class="ui-fluid" size="1" [min]="0" [step]="1"
                 placeholder="* {{'Հողամասի մակերես ք.մ.' | translate:user}} "
                 [inputStyle]="{'width':'100%'}"
                 formControlName="landArea"
                 (onChange)="send('landArea')">

      </p-spinner>
    </div>


    <div class="addAnnouncement-input">
      <p-spinner class="ui-fluid" size="1" [min]="0" [step]="1"
                 placeholder="* {{'Շինության մակերես ք.մ.' | translate:user}} "
                 [inputStyle]="{'width':'100%'}"
                 formControlName="buildingArea"
                 (onChange)="send('buildingArea')">

      </p-spinner>
    </div>


    <div class="addAnnouncement-input">
      <p-spinner class="ui-fluid" size="1" [min]="0" [step]="1"
                 placeholder=" {{'Օժանդակ մակերես ք.մ.' | translate:user}} "
                 [inputStyle]="{'width':'100%'}"
                 formControlName="supportingArea"
                 (onChange)="send('supportingArea')">

      </p-spinner>
    </div>

    <div class="addAnnouncement-input">
      <p-spinner class="ui-fluid" size="1" [min]="0" [step]="1"
                 placeholder=" {{'Ճակատ' | translate:user}} "
                 [inputStyle]="{'width':'100%'}"
                 formControlName="front"
                 (onChange)="send('front')">
      </p-spinner>
    </div>

    <div class="addAnnouncement-input">
      <p-dropdown [options]="optionsData.interiorDecorations"
                  placeholder="* {{'Ներքին հարդարանք' | translate:user}} "
                  [filter]="true" filterBy="label,value.name"
                  [filterPlaceholder]="'Փնտրել'" [emptyFilterMessage]="'Ոչինչ չի գտնվել'"
                  [resetFilterOnHide]="true"
                  [showClear]="true"
                  formControlName="interiorDecorations"
                  (onChange)="send('interiorDecorations')"
                  [style]="{'width':'100%'}">
      </p-dropdown>
    </div>

    <div class="addAnnouncement-input">
      <p-dropdown [options]="optionsData.buildingTypes"
                  placeholder="* {{'Շենքի տեսակ' | translate:user}} "
                  [filter]="true" filterBy="label,value.name"
                  [filterPlaceholder]="'Փնտրել'" [emptyFilterMessage]="'Ոչինչ չի գտնվել'"
                  [resetFilterOnHide]="true"
                  [showClear]="true"
                  formControlName="buildingTypes"
                  (onChange)="send('buildingTypes')"
                  [style]="{'width':'100%'}">
      </p-dropdown>
    </div>


    <div class="addAnnouncement-input">
      <p-dropdown [options]="optionsData.covers"
                  placeholder="* {{'Ծածկ' | translate:user}} "
                  [filter]="true" filterBy="label,value.name"
                  [filterPlaceholder]="'Փնտրել'" [emptyFilterMessage]="'Ոչինչ չի գտնվել'"
                  [resetFilterOnHide]="true"
                  [showClear]="true"
                  formControlName="covers"
                  (onChange)="send('covers')"
                  [style]="{'width':'100%'}">
      </p-dropdown>
    </div>

    <div class="addAnnouncement-input">
      <p-spinner class="ui-fluid" size="1" [min]="0" [step]="0.05"
                 placeholder=" {{'Առաստաղ մ․' | translate:user}} "
                 formControlName="ceilingValue"
                 (onChange)="send('ceilingValue')"
                 [inputStyle]="{'width':'100%'}">
      </p-spinner>
    </div>

    <div class="addAnnouncement-input">
      <p-multiSelect [options]="optionsData.actualUseCommercial"
                     defaultLabel="* {{'Փաստացի օգտագործում' | translate:user}}"
                     [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} ընտրված դաշտ'"
                     [filterPlaceHolder]="'Փնտրել'" [resetFilterOnHide]="true"
                     formControlName="actualUse"
                     (onChange)="send('actualUse')"
                     [style]="{'width':'100%'}">
      </p-multiSelect>
    </div>

    <div class="addAnnouncement-input">
      <p-multiSelect [options]="optionsData.additionalInfoFieldsCommercial"
                     defaultLabel="* {{'Լրացուցիչ ինֆորմացիա' | translate:user}}"
                     [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} ընտրված դաշտ'"
                     [filterPlaceHolder]="'Փնտրել'" [resetFilterOnHide]="true"
                     formControlName="additionalInfoFields"
                     (onChange)="send('additionalInfoFields')"
                     [style]="{'width':'100%'}">
      </p-multiSelect>
    </div>
    <div class="addAnnouncement-input">
      <p-dropdown [options]="optionsData.currencies"
                  placeholder="* {{'Արժույթ(Վաճառք)' | translate:user}} "
                  [filter]="true" filterBy="label,value.name"
                  [filterPlaceholder]="'Փնտրել'" [emptyFilterMessage]="'Ոչինչ չի գտնվել'"
                  [resetFilterOnHide]="true"
                  [showClear]="true"
                  formControlName="currencyForSale"
                  (onChange)="send('currencyForSale')"
                  [style]="{'width':'100%'}">
      </p-dropdown>
    </div>

    <div class="addAnnouncement-input">
      <p-spinner class="ui-fluid" size="30"
                 [min]="0" [step]="1000"
                 placeholder="* {{'Գին(Վաճառք)' | translate:user}} "
                 [inputStyle]="{'width':'100%'}"
                 formControlName="priceForSale"
                 (onChange)="send('priceForSale')">
      </p-spinner>
    </div>

    <div class="addAnnouncement-input">
      <p-dropdown [options]="optionsData.currencies"
                  placeholder="* {{'Արժույթ(Վարձակալություն)' | translate:user}} "
                  [filter]="true" filterBy="label,value.name"
                  [filterPlaceholder]="'Փնտրել'" [emptyFilterMessage]="'Ոչինչ չի գտնվել'"
                  [resetFilterOnHide]="true"
                  [showClear]="true"
                  formControlName="currencyForRent"
                  (onChange)="send('currencyForRent')"
                  [style]="{'width':'100%'}">
      </p-dropdown>
    </div>

    <div class="addAnnouncement-input">
      <p-spinner class="ui-fluid" size="30"
                 [min]="0" [step]="1000"
                 placeholder="* {{'Գին(Վարձակալություն)' | translate:user}} "
                 [inputStyle]="{'width':'100%'}"
                 formControlName="priceForRent"
                 (onChange)="send('priceForRent')">
      </p-spinner>
    </div>

  </div>
</form>
