.wrapper{
  max-width: 1480px;
  margin: auto;
  width: 94%;
}
.searchDetailsPage{
  margin-top: 160px;
  margin-bottom: 120px;
}
.searchDetailsPage .colorRed{
  color: #f66;
}
.searchDetailsPage .moreInfo{
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.searchDetailsPage .cartS img{
  max-width: 240px;
  width: 100%;
  transition: all .2s ease;
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 70%);
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 70%);
}
.searchDetailsPage .cartS img:hover {
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.searchDetailsPage h2{
  color: #f66;
  font-family: "Roboto-Bold";
}
.searchDetailsPage .moreInfo > div{
  display: inline-block;
  max-width: 180px;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  background: #84aac7;
  height: 80px;
  font-weight: 700;
  border-right: 1px solid #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-Bold";
  flex-direction: column;
  border-radius: 4px!important;
}
.searchDetailsPage .moreInfo > div > p{
  height: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: 13px;
}
.priceCenter{
  display: flex;
  justify-content: space-between;
}
.details-Bottom{
  display: flex;
}
.details-bottom-right{
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  width: 50%;
  border: 1px solid #A8C3D9;
  border-left:0;
  border-radius: 0 4px 4px 0;
}
.details-bottom-left{
  width: 50%;
  padding: 12px;
  border: 1px solid #A8C3D9;
  border-radius: 4px 0 0 4px;
}
.details-bottom-right img{
  max-width: 24px;
  margin-right: 10px;
}
.details-bottom-right-box{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 44%;
  margin-bottom: 10px;
}
.details-bottom-left h2{
  color: black;
  margin-bottom: 10px;
}
.phoneNumbers{
  text-align: right;
}
.searchDetailsPage h2{
  font-size: 20px;
}
.searchDetailsPage .moreInfo > div p:nth-child(2){
  background: white;
  background: lavender;
}
.searchDetailsPage .moreInfo{
  display: flex;
  margin: 20px;
  justify-content: center;
}
.searchDetailsPage .cartS{
  margin: 20px;
}
.searchDetailsPageFlex{
  display: flex;
  justify-content: space-between;
}
.searchDetailsPageFlex > div{
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-top: 60px;
}
.searchDetailsPageFlex .cart-info{
  box-shadow: 0 5px 10px 0 #666;
  margin-top: 60px;
}
.searchDetailsPageFlex .cart-info iframe{
  width: 100%;
}
.locationPhone{
  display: flex;
  width:100%;
}
.floatRight{
  text-align: right;
  justify-content: flex-end;
}
.locationPhone > div{
  background: #03529030;
  margin-top: 10px;
  width: 50%;
  flex-direction: column;
  min-height: 80px;
  height: auto;
}
.locationPhone h3{
  background: #03529030;
  height: 40px;
  padding: 8px 20px;
}
.locationPhone h2{
  padding: 2px 20px;
}
.priceCenter{
  text-align: center;
}
.priceCenter h2{
  padding-left: 20px;
}
.backToSearchStyle{
  list-style: none;
  color: black;
  font-family: "Roboto-Bold";
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  padding-left: 20px;
}
.backToSearchStyle .fa-arrow-left{
  margin-right: 4px;
}
/*slider details page css*/
.sliderBox{
  width: max-content;
  margin: auto;
}
.borderRadiusLeft{
  border-radius: 4px 0 0 4px;
}
.borderRadiusRight{
  border-radius: 0 4px 4px 0 ;
}
.otherInfo > div{
  border: 1px solid #A8C3D9;
  border-radius: 4px;
  padding: 12px;
  margin-top: 12px;
}
.otherInfo > div > h2{
  color: black;
  display: block;
  width: 100%;
  margin-bottom: 8px;
}
.boldStyles{
  font-family: "Roboto-Bold";
}
.otherInfo > div > p{
  margin-right: 4px;
  font-size: 16px;
  display: inline-block;
}
@media (max-width: 1200px) {
  .searchDetailsPageFlex{
    flex-direction: column;
  }
  .details-Bottom {
    flex-direction: column-reverse;
    align-items: center;
  }
  .details-bottom-right{
    width:96%;
  }
  .details-bottom-left{
    width:96%;
  }
  .details-bottom-right{
    border-left:1px solid #A8C3D9;
    border-bottom: 0;
  }
  .otherInfo > div{
    width: 96%;
    margin: auto;
    margin-top: 12px;
  }
}
@media (max-width: 767px) {
  .searchDetailsPageFlex{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .searchDetailsPageImage{
    text-align: center;
    margin: 20px auto 40px auto;
  }
}
@media (max-width: 576px) {
  .borderRadiusLeft{
    border-radius: 4px;
  }
  .borderRadiusRight{
    border-radius: 4px;
  }
  .details-bottom-right{
    flex-direction: column;
  }
  .details-bottom-right-box{
    width: 100%;
  }
  .searchDetailsPage .moreInfo {
    flex-direction: column;
    align-items: center;
  }
  .searchDetailsPage .cartS{
    margin: 24px 0;
    padding: 10px 0;
  }
  .searchDetailsPage h2{
    text-align: center;
  }
  .searchDetailsPageImage{
    text-align: center;
  }
  .locationPhone{
    flex-direction: column;
  }
  .locationPhone > div{
    width:100%;
    text-align: center;
  }
  .priceCenter h2{
    padding-left: 0;
    margin: auto;
  }
}

/*================slider start================*/
