.wrapper{
  max-width: 1480px;
  margin: auto;
  width: 94%;
}
.addAnnouncement{
  background-image: url('../../../assets/images/cacad.jpg');
  width:100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 2280px;
}
.toggleAddAnnouncement{
  padding-top: 150px;
  text-align: center;
  margin-bottom: 40px;
}
.toggleAddAnnouncement a{
  border-color: #ffffff78;
  background: #ffffff78;
  color: #245173;
  border-color: transparent;
  background: 0 0;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  margin: 0 2px 0 0;
  border: 1px solid transparent;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  padding: 12px 18px;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  line-height: 38px;
}
.linksBox{
  border-bottom: 1px solid #ffffff78;
  /*width: max-project;*/
  margin: auto;
  max-width: 717px;
}
.toggleAddAnnouncement a:hover{
  border-color: #ffffff78;
  background: #ffffff78;
  color: #245173;
  border-bottom: none;
}
.addAnnouncementActive{
  border-color: #ffffff78!important;
  background: #ffffff78!important;
  color: #245173!important;
  border-bottom: none!important;
}
.addAnnouncement-input{
  padding: 20px 10px;
  display: block;
  box-sizing: border-box;
  width: 50%;
}
.addAnnouncement-w100{
  width: 100%;
  padding: 20px 10px;
  display: block;
  box-sizing: border-box;
}
.addAnnouncement-w100 iframe{
  width: 100%;
}
.addAnnouncement-w100 input{
  color: #245173;
  width: 100%;
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24,144,255,.2);
  border-right-width: 1px!important;
  height: 40px;
  border-radius: 4px;
  padding: 0 11px;
}
.addNewPost{
  width:100%!important;
  text-align: right;
  margin-bottom: 40px;
}


.addAnnouncement-input input, button{
  color: #245173;
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24,144,255,.2);
  border-right-width: 1px!important;
  height: 40px;
  border-radius: 4px;
}
.addNewPost button{
  background: lightgray!important;
  border-color: lightgray!important;
  cursor: no-drop;
}
.addAnnouncement-input button{
  color: #fff;
  background-color: #096dd9;
  border-color: #096dd9;
}
.addAnnouncement-input select{
  color: #245173;
  width: 100%;
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(24,144,255,.2);
  border-right-width: 1px!important;
  height: 40px;
  border-radius: 4px;
  padding: 0 11px;
}
.addAnnouncement-input input{
  padding: 0 11px;
}
.boldStyles{
  font-family: "Roboto-Bold";
}
.flewWrap{
  display: flex;
  flex-wrap: wrap;
  max-width: 770px;
  margin: auto;
}
.flexBoxItem{
  display: flex;
  position: relative;
  height: 52px;
}
#basic1{
  transform: rotateY(26deg);
  position: absolute;
  left: 0;
}
#basic2{
  transform: rotateY(26deg);
  position: absolute;
  right: 0;
}
@media (max-width: 780px) {
  #basic1{
    transform: rotateY(32deg);
    position: absolute;
    left: -5px;
  }
  #basic2{
    transform: rotateY(32deg);
    position: absolute;
    right: -5px;
  }
  .linksBox {
    display: flex;
    flex-direction: column;
  }
  .linksBox a{
    line-height: 12px;
  }
}
@media (max-width: 576px) {
  .addNewPost button {
    width: 100%;
  }
  .addAnnouncement-input {
    width: 100%;
    padding: 10px;
  }
  .addAnnouncement-w100{
    width: 100%;
    padding: 10px;
  }
  .flexBoxItem{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  #basic1{
    transform: rotateY(0deg);
    position: relative;
    left: auto;
    margin-bottom: 17px;
  }
  #basic2{
    transform: rotateY(0deg);
    position: relative;
    right: auto;
  }
}
/* Avelacrac YERVAND */
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 160px!important;
  padding: 8px;
}
.addNewPost button{
  padding: 0 20px;
  float: left;
  width: 50%;
  height: 40px;
  font-weight: 700;
}
.addNewPost .btnActiveClass{
  padding: 0 20px;
  float: left;
  width: 50%;
  height: 40px;
  font-weight: 700;
  background: #f66!important;
  color: #fff!important;
  border-color: #f66!important;
  cursor: pointer;

}
.required-fields-section{
  margin-bottom: 0px;
  padding: 0;
}
.required-fields{
  color: red;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  max-width: 770px;
  margin: auto;
  padding: 0px 10px;
  font-size: 18px;
  text-shadow: 0px 0px 4px white;
  font-weight: bold;
}

