<input type="text" id="mapSearch" class="mapDetailsPageInput flewWrap flewWrapSmall" size="50" placeholder="{{'Մուտքագրեք հասցեն' | translate:user}}" [(ngModel)]="address">
<div id="map" class="mapDetailsPage flewWrap flewWrapSmall"></div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal project -->
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="boldStyles">{{'Հաստատել հասցեն' | translate:user}}</h2>
    </div>
    <div class="modal-body">
      <div class="inputDiv">
        <label for="inputMapAddress" id="labelMapAddress" class="boldStyles">{{'Հասցե' | translate:user}} : </label>
        <input type="text" id="inputMapAddress" [(ngModel)]="addressFromModal" autofocus
               placeholder="{{'Լրացնել հասցեն' | translate:user}}">
      </div>
      <br>
      <div class="inputDiv">
        <div class="inputDiv">
          <label for="mapLat" class="boldStyles">{{'Լայնություն' | translate:user}} : </label>
          <p id="mapLat">{{latitude}}</p>
        </div>
        <div class="inputDiv">
          <label for="mapLng" class="boldStyles">{{'Երկայնություն' | translate:user}} : </label>
          <p id="mapLng">{{longitude}}</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="submitInfo()">{{'Հաստատել' | translate:user}}</button>
      <button (click)="closeModal()">{{'Փակել' | translate:user}}</button>
    </div>
  </div>

</div>
