<app-slider></app-slider>


<div class="wrapper">
  <div class="container-filter">

    <div class="bigBlock">
      <div class="row" style=" margin-bottom: 20px">
        <div class="block1 filter-buttons">
          <button routerLink="apartments" type="button" class="btn btn-lg btn-style">
            <img src="assets/images/home-logo.png" alt="" style="width: 40px">
            {{'Բնակարան' | translate:user}}
          </button>
          <button routerLink="houses" type="button" class="btn btn-lg btn-style">
            <img src="assets/images/house-logo.png" alt="" style="width: 40px">{{'Առանձնատուն' | translate:user}}
          </button>
          <button routerLink="commercials" type="button" class="btn btn-lg btn-style">
            <img src="assets/images/usd.png" alt="" style="width: 40px">{{'Կոմերցիոն' | translate:user}}
          </button>
          <button routerLink="lands" type="button" class="btn btn-lg btn-style">
            <img src="assets/images/landandplots.png" alt="" style="width: 40px">{{'Հողամաս' | translate:user}}
          </button>
          <button routerLink="businesses" type="button" class="btn btn-lg btn-style">
            <img src="assets/images/office-logo.png" alt="" style="width: 40px">{{'Բիզնես' | translate:user}}
          </button>
          <button routerLink="codes" type="button" class="btn btn-lg btn-style">
            <img src="assets/images/code.png" alt="" style="width: 40px">{{'Կոդ' | translate:user}}
          </button>
          <button routerLink="newlyBuilts" type="button" class="btn btn-lg btn-style">
            <img src="assets/images/home-logo.png" alt="" style="width: 40px">{{'Նորակառույց' | translate:user}}
          </button>


          <!--    <div class="filter-project">-->
        </div>
      </div>
      <div class="filter-content">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
  <div class="google-map">
    <div class="map-box">
      <div *ngIf="searchPostsActive" class="mapouter">
        <app-map></app-map>
      </div>
      <h2 *ngIf="searchPostsActive" class="top-announcements">{{'Տոպ հայտարարություններ' | translate:user}}</h2>
      <div *ngIf="searchPostsActive" class="carts">
        <div class="cart" *ngFor="let cart of topCarts"
             [ngClass]="{'activeSection': !searchPostsActive}">
          <img [src]="url + '/uploads/' + cart.imgs[0]" alt="">
          <div class="cart-info">
            <h3>{{cart.regions}} </h3>
            <p>{{cart.cities}}, {{cart.communities}}, {{cart.streets}}</p>
          </div>
        </div>
      </div>
      <div class="searchCart" [ngClass]="{'activeSection': searchPostsActive}">
        <div (click)="goToDetails(carts)" class="cartS" *ngFor="let carts of cycleData">
          <div class="wAuto">
            <h2>{{carts.regions}}, {{carts.cities}}, {{carts.communities}}</h2>
            <img [src]="url + '/uploads/' + carts.imgs[0]" alt="">
          </div>
          <div class="cart-info">
            <h3>{{carts.cities}}, {{carts.streets}}</h3>
            <div class="moreInfo">
              <p>{{carts.streets}}</p>
              <p>{{carts.numberOfRooms || carts.buildingArea}}</p>
              <p>{{carts.supportingArea  || (carts.flooring + '/' + carts.floor) }}</p>
              <p>{{carts.areaValue || carts.landArea}}</p>
              <p class="colorRed">
                {{
                carts.prices[0].price + ' ' + carts.prices[0].currency
                }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="advertising-box">

      <div class="evaluation">
        <img src="assets/images/logoSmall.png" alt="">
        <a href="" class="animate-text">{{'Գնահատում' | translate:user}}</a>
      </div>
      <div class="btnBox">
        <button class="openPosition">
          <span>{{'Բաց շուկա' | translate:user}}</span>
        </button>

      </div>

    </div>

  </div>

</div>



