<app-slider></app-slider>


<div class="wrapper">
  <div class="container-filter">

    <div class="bigBlock">
      <div class="row" style=" margin-bottom: 20px">
        <div class="block1 filter-buttons">
          <button type="button" class="btn btn-lg btn-style">
            <img src="assets/images/home-logo.png" alt="" style="width: 40px">
            {{'Բնակարան' | translate:user}}
          </button>
          <button type="button" class="btn btn-lg btn-style">
            <img src="assets/images/house-logo.png" alt="" style="width: 40px">{{'Առանձնատուն' | translate:user}}
          </button>
          <button type="button" class="btn btn-lg btn-style">
            <img src="assets/images/usd.png" alt="" style="width: 40px">{{'Կոմերցիոն' | translate:user}}
          </button>
          <button type="button" class="btn btn-lg btn-style">
            <img src="assets/images/landandplots.png" alt="" style="width: 40px">{{'Հողամաս' | translate:user}}
          </button>
          <button type="button" class="btn btn-lg btn-style">
            <img src="assets/images/office-logo.png" alt="" style="width: 40px">{{'Բիզնես' | translate:user}}
          </button>
          <button type="button" class="btn btn-lg btn-style">
            <img src="assets/images/code.png" alt="" style="width: 40px">{{'Կոդ' | translate:user}}
          </button>
          <button type="button" class="btn btn-lg btn-style">
            <img src="assets/images/home-logo.png" alt="" style="width: 40px">{{'Նորակառույց' | translate:user}}
          </button>


          <!--    <div class="filter-project">-->
        </div>
      </div>
      <div class="filter-content">
        <router-outlet></router-outlet>
      </div>
      <div class="appartament-button">
        <button id="add-announcement" [routerLink]="['/add-announcement']">{{'Ավելացնել հայտարարություն' | translate:user}}</button>
        <button id="search"  class="twoToneButton "><i class="fas fa-search"></i>
          {{'Փնտրել' | translate:user}}
        </button>
      </div>
    </div>
  </div>
  <div class="google-map">
    <div class="map-box">
      <div class="mapouter">
        <app-map></app-map>
      </div>
      <h2 class="top-announcements">{{'Տոպ հայտարարություններ' | translate:user}}</h2>
    </div>
    <div class="advertising-box">

      <div class="evaluation">
        <img src="assets/images/logoSmall.png" alt="">
        <a href="" class="animate-text">{{'Գնահատում' | translate:user}}</a>
      </div>
      <div class="btnBox">
        <button class="openPosition">
          <span>{{'Բաց շուկա' | translate:user}}</span>
        </button>

      </div>

    </div>

  </div>

</div>



