<app-slider></app-slider>


<div class="wrapper">
  <div class="container-filter">

    <div class="bigBlock">
      <div class="row" style=" margin-bottom: 20px">
        <div class="block1 filter-buttons">
          <button routerLink="apartments" routerLinkActive="active" type="button" class="btn btn-lg btn-style" (click)="ngswitch('Բնակարան')">
            <img src="assets/marker-icons-new/HeadMenu/Bnakaran.png" alt="" style="width: 40px">
            {{'Բնակարան' | translate:user}}
          </button>
          <button routerLink="houses" routerLinkActive="active" type="button" class="btn btn-lg btn-style"  (click)="ngswitch('Առանձնատուն')">
            <img src="assets/marker-icons-new/HeadMenu/Arandznatun.png" alt="" style="width: 40px">{{'Առանձնատուն' | translate:user}}
          </button>
          <button routerLink="commercials" routerLinkActive="active" type="button" class="btn btn-lg btn-style"  (click)="ngswitch('Կոմերցիոն')">
            <img src="assets/marker-icons-new/HeadMenu/Comercion.png" alt="" style="width: 40px">{{'Կոմերցիոն' | translate:user}}
          </button>
          <button routerLink="lands" routerLinkActive="active" type="button" class="btn btn-lg btn-style"  (click)="ngswitch('Հողամաս')">
            <img src="assets/marker-icons-new/HeadMenu/Hoghamas.png" alt="" style="width: 40px">{{'Հողամաս' | translate:user}}
          </button>
          <button routerLink="businesses" routerLinkActive="active" type="button" class="btn btn-lg btn-style"  (click)="ngswitch('Բիզնես')">
            <img src="assets/marker-icons-new/HeadMenu/Business.png" alt="" style="width: 40px">{{'Բիզնես' | translate:user}}
          </button>
          <button routerLink="newlyBuilts" routerLinkActive="active" type="button" class="btn btn-lg btn-style"  (click)="ngswitch('Նորակառույց')">
            <img src="assets/marker-icons-new/HeadMenu/Norakaruyc.png" alt="" style="width: 40px">{{'Նորակառույցներ' | translate:user}}
          </button>
          <button routerLink="codes" routerLinkActive="active" type="button" class="btn btn-lg btn-style"  (click)="ngswitch('Կոդ')">
            <img src="assets/marker-icons-new/HeadMenu/Code.png" alt="" style="width: 40px">{{'Կոդ' | translate:user}}
          </button>

          <!--    <div class="filter-project">-->
        </div>
      </div>
      <div class="filter-content">
        <router-outlet></router-outlet>
      </div>

    </div>
  </div>
  <div class="google-map">
    <div class="map-box">
      <div *ngIf="searchPostsActive" class="mapouter">
        <app-map></app-map>
      </div>
      <h2 *ngIf="searchPostsActive" class="top-announcements">{{'Լավագույն առաջարկներ' | translate:user}}</h2>

      <div *ngIf="searchPostsActive" class="carts top-cart-sec">
<!--      slick start-->
        <!-- You can now use your library component in app.component.html -->
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig">
          <div (click)="goToDetails(cart)" ngxSlickItem *ngFor="let cart of topCarts" class="slide cart">

<!--            <img src="{{ slide.img }}" alt="" width="100%">-->
<!--            <div class="cart" *ngFor="let cart of topCarts"-->
<!--                 [ngClass]="{'activeSection': !searchPostsActive}">-->
              <img [src]="url + '/uploads/' + cart.imgs[0]" alt="">
              <div class="cart-info cart-info-for-top">
                <div class="opacityBox"></div>
                <div class="cart-info-All">
                  <div class="cart-info-left">
                    <h3 class="bold-h box-orient-style">{{cart.announcementType}} </h3>
                    <h3 class="box-orient-style" style="font-size: 14px">{{cart.communities}} </h3>
                  </div>
                  <div class="cart-info-right" style="display: flex;align-items: center">
                    <img *ngIf="cart.prices[0].currency == 'USD'" src="assets/images/soc/USD_red.png" alt=""style="max-width: 20px;height: auto;margin-right: 2px;">
                    <img *ngIf="cart.prices[0].currency == 'AMD'" src="assets/images/soc/AMD_red.png" alt=""style="max-width: 20px;height: auto;margin-right: 2px;">
<!--                    <p>{{cart.prices[0].currency + ' ' + cart.prices[0].price}}</p>-->
                    <p>{{cart.prices[0].price}}</p>
                  </div>
                </div>
              </div>
<!--            </div>-->
          </div>
        </ngx-slick-carousel>


<!--        <button (click)="addSlide()">Add</button>-->
<!--        <button (click)="removeSlide()">Remove</button>-->
<!--        <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>-->
<!--        <button (click)="slickModal.unslick()">unslick</button>-->
<!--      slick end-->

<!--        <div class="cartsScrool">-->

        <!--+++++++++TOP++++++++++++-->
<!--        <div class="cart" *ngFor="let cart of topCarts"-->
<!--             [ngClass]="{'activeSection': !searchPostsActive}">-->
<!--          <img [src]="url + '/uploads/' + cart.imgs[0]" alt="">-->
<!--          <div class="cart-info cart-info-for-top">-->
<!--            <div class="opacityBox"></div>-->
<!--            <div class="cart-info-All">-->
<!--            <div class="cart-info-left">-->
<!--              <h3 class="bold-h box-orient-style">{{cart.announcementType}} </h3>-->
<!--              <h3 class="box-orient-style">{{cart.communities}} </h3>-->
<!--            </div>-->
<!--            <div class="cart-info-right">-->
<!--              <p>{{cart.prices[0].price + ' ' + cart.prices[0].currency}}</p>-->
<!--            </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <!--+++++++++TOP++++++++++++-->


<!--        </div>-->

      </div>

      <div class="bannerBottom" *ngIf="searchPostsActive"></div>

      <div class="searchCart" [ngClass]="{'activeSection': searchPostsActive}">
        <div (click)="goToDetails(carts)" class="cartS" *ngFor="let carts of cycleData,let i=index">
          <div class="wAuto">
<!--            <h2>{{carts.regions}}, {{carts.cities}}, {{carts.communities}}</h2>-->
<!--            {{carts.announcementType}}-->
<!--            <h2>-->
<!--              {{carts.regions == carts.cities ? carts.regions : carts.regions + ', ' + carts.cities}}, {{carts.communities}}-->
<!--            </h2>-->
            <img [src]="url + '/uploads/' + carts.imgs[0]" alt="" style="max-height: 224px">
          </div>
          <div class="cart-info">
            <div class="title-code">
            <h3>{{carts.cities}}, {{carts.streets}}</h3>
            <p>{{carts.codeValue}}</p>
            </div>
            <p class="cartPostAddionalInfo">{{ carts.additionalInformation }}</p>
            <p style="margin-bottom: 20px;text-align: right;color: #03529082;font-weight: bold;margin-top: 4px">Ավելին>>></p>
            <div class="moreInfo">
<!--              <p>{{carts.streets}}</p>-->
<!--              <p>{{carts.numberOfRooms ? carts.numberOfRooms + ' սեն' : false || carts.buildingArea + ' ք.մ.'}}</p>-->
              <div class="p" *ngIf="carts.announcementType !== 'Բիզնես' && carts.announcementType !== 'Նորակառույց'" style="display: flex;justify-content: space-around">
                <!--<p>-->
                <!--{{carts.announcementType == 'Բնակարան' ? carts.numberOfRooms + ' սեն' : carts.announcementType == 'Առանձնատուն' ? carts.numberOfRooms + ' սեն' : carts.announcementType == 'Կոմերցիոն' ? (carts.flooring + '/' + carts.floor + ' հարկ') : carts.announcementType == 'Հողամաս' ? carts.landArea + ' ք.մ.': null}}-->
                <!--</p>-->
                <p>
                  {{carts.announcementType == 'Բնակարան' ? ' Սենյակ' : carts.announcementType == 'Առանձնատուն' ? ' Սենյակ' : carts.announcementType == 'Կոմերցիոն' ? ' Հ/հ' : carts.announcementType == 'Հողամաս' ? ' Հ.Մակերես': null}}
                </p>
                <div style="display: flex">
                <p>
                  {{carts.announcementType == 'Բնակարան' ? carts.numberOfRooms : carts.announcementType == 'Առանձնատուն' ? carts.numberOfRooms : carts.announcementType == 'Կոմերցիոն' ? (carts.flooring + '/' + carts.floor) : carts.announcementType == 'Հողամաս' ? carts.landArea : null}}
                </p>
                <p>
                  {{carts.announcementType == 'Հողամաս' ? ' ք.մ.': null}}
                </p>
                </div>
              </div>
<!--

  <p>{{carts.announcementType == 'Առանձնատուն' ? carts.numberOfRooms + ' սեն' : null}}</p>-->
<!--              <p>{{carts.supportingArea ? carts.supportingArea + ' ք.մ.' : false  || (carts.flooring + '/' + carts.floor + ' հարկ') }}</p>-->
<!--              <p>{{carts.areaValue ? carts.areaValue + ' ք.մ.' : false || carts.landArea + ' ք.մ.'}}</p>-->
              <div class="p" *ngIf="carts.announcementType !== 'Հողամաս' && carts.announcementType !== 'Բիզնես' && carts.announcementType !== 'Նորակառույց'" style="display: flex;justify-content: space-around">
                <!--<p>-->
                  <!--{{carts.announcementType == 'Բնակարան' ? (carts.flooring + '/' + carts.floor + ' հարկ') : carts.announcementType == 'Առանձնատուն' ? carts.landArea + ' ք.մ.' : carts.announcementType == 'Կոմերցիոն' ? carts.landArea + ' ք.մ.': null}}-->
                <!--</p>-->
                <p>
                  {{carts.announcementType == 'Բնակարան' ? ' Հ/հ' : carts.announcementType == 'Առանձնատուն' ? 'Հ.Մակերես' : carts.announcementType == 'Կոմերցիոն' ? ' Հ.Մակերես': null}}
                </p>
                <p>
                  {{carts.announcementType == 'Բնակարան' ? (carts.flooring + '/' + carts.floor ) : carts.announcementType == 'Առանձնատուն' ? carts.landArea : carts.announcementType == 'Կոմերցիոն' ? carts.landArea : null}}
                </p>
              </div>

              <div class="p" *ngIf="carts.announcementType !== 'Հողամաս' && carts.announcementType !== 'Բիզնես' && carts.announcementType !== 'Նորակառույց'" style="display: flex;justify-content: space-around">
               <!--<p>-->
                <!--{{carts.announcementType == 'Բնակարան' ? carts.areaValue + ' ք.մ.' : carts.announcementType == 'Առանձնատուն' ? carts.livingSpace + ' ք.մ.' : carts.announcementType == 'Կոմերցիոն' ? carts.buildingArea + ' ք.մ.': null}}-->
               <!--</p>-->
                <p>
                  {{carts.announcementType == 'Բնակարան' ? 'Մակերես' : carts.announcementType == 'Առանձնատուն' ? 'Շ.Մակերես' : carts.announcementType == 'Կոմերցիոն' ? ' Շ.Մակերես': null}}
                </p>
                <div style="display: flex">
                <p>
                  {{carts.announcementType == 'Բնակարան' ? carts.areaValue : carts.announcementType == 'Առանձնատուն' ? carts.livingSpace : carts.announcementType == 'Կոմերցիոն' ? carts.buildingArea : null}}
                </p>
                <p style="padding-left: 4px;">
                  {{carts.announcementType == 'Բնակարան' ? ' ք.մ.' : carts.announcementType == 'Առանձնատուն' ? ' ք.մ.' : carts.announcementType == 'Կոմերցիոն' ? ' ք.մ.': null}}
                </p>
                </div>
              </div>

              <!--              carts.announcementType == 'Կոմերցիոն' ? (carts.flooring + '/' + carts.floor + ' հարկ') : null-->
              <div class="colorRed border-none" style="min-height: 40px;margin: 4px 0px;">
<!--                <h2 *ngFor="let price of cart.prices">{{price.type}} {{price.price}} {{price.currency}}</h2>-->
                <div style="display: flex;min-width: 260px;justify-content: space-around;align-items: center;">
                  <p>{{carts.prices[0].type}} </p>
<!--                  <p>{{carts.transactions[0]}} </p>-->
                  <!--<p> {{carts.prices[0].price + ' ' + carts.prices[0].currency}}</p>-->
<!--                  <p style="display: flex;"><span>{{carts.prices[0].price}}</span> <span>{{carts.prices[0].currency}}</span> </p>-->
                  <p style="display: flex;align-items: center"><span>{{carts.prices[0].price}}</span>
                    <img *ngIf="carts.prices[0].currency == 'USD'" src="assets/images/soc/USD_red.png" alt=""style="max-width: 20px;height: auto!important;margin-left: 2px;">
                    <img *ngIf="carts.prices[0].currency == 'AMD'" src="assets/images/soc/AMD_red.png" alt=""style="max-width: 20px;height: auto!important;margin-left: 2px;">
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="advertising-box advertising-flex">

      <div class="evaluation advertising-flex-item">
        <img src="assets/images/Logo_vertical_black.png" alt="" style="width: 124px;margin-bottom: 12px;">
        <a class="animate-text" (click)="goToEvaluation()">{{'Գնահատում' | translate:user}}</a>
      </div>
      <div class="btnBox advertising-flex-item">
        <button class="openPosition" (click)="goToOpenMarket()">
          <span>{{'Բաց շուկա' | translate:user}}</span>
        </button>

      </div>

    </div>

  </div>

</div>

<div id="popup_overlay" class="popup__overlay">
  <div class="popup">
    <div id="popup_close" class="popup__close">X</div>
    <p>Կայքը մշակման փուլում է
  </div>
</div>

