<p-galleria [images]="imagesSrcForModal" panelWidth="500" panelHeight="313" [showCaption]="false" [autoPlay]="true"
            [transitionInterval]="3000" (onImageClicked)="onImageClicked($event)">
</p-galleria>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="container">
      <div class="mySlides" *ngFor="let image of imagesSrcForModal2">
        <img [src]="image" style="width:100%" alt="imageSlider">
      </div>

      <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
      <a class="next" (click)="plusSlides(1)">&#10095;</a>

    </div>
  </div>
</div>
