<p-galleria [images]="imagesSrcForModal" panelWidth="500" panelHeight="313" [showCaption]="false" [autoPlay]="false"
            [transitionInterval]="3000" (onImageClicked)="onImageClicked($event)">
</p-galleria>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="container">
      <div class="mySlides" *ngFor="let image of imagesSrcForModal2">
        <img [src]="image" style="width:100%;max-height: 500px;object-fit: cover;" alt="imageSlider">
      </div>

      <a class="prev" (click)="plusSlides(-1)"
          style="width: 48%;
          opacity: .5;
          position: absolute;
          bottom: 0;
          height: 98%;
          top: 56px;
          display: flex;
          align-items: center;
          justify-content: flex-start;"><span>&#10094;</span></a>
      <a class="next" (click)="plusSlides(1)"
          style="width: 48%;
          opacity: .5;
          position: absolute;
          bottom: 0;
          height: 98%;
          top: 56px;
          display: flex;
          align-items: center;
          justify-content: flex-end;"><span>&#10095;</span></a>
    </div>
  </div>
</div>
